@import '../../../shared_styles/colors.scss';

.progress-bar {
    height: 6px;
    width: 100%;
    color: $gray-darkest;
    border: 2px solid $gray-darkest;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    transition: opacity 3s cubic-bezier(0.85,-0.06, 1, 1);

    &__fill {
        height: 6px;
        width: 100%;
        border-radius: 10px;
        transform-origin: 0 center;
        transition: transform 1s linear;

        // For the orange color I chose the $coral as a shortcut. I would normally ask product or UX what specific color to use.
        background: linear-gradient(80deg, $coral 0%, $red 100%);
    }
}
